#fiveDay {
  padding-left: 1%;
}

#day1,
#day2,
#day3,
#day4,
#day5 {
  padding-left: 15%;
  padding-top: 2%;
  padding-block: 2%;
}

.d-block {
  width: 100vw !important;
}

.rainStormBackgroundImg {
  background: url("Assets/rainImage.jpg");
}

.snowStormBackgroundImg {
  background: url("Assets/snowStorm.jpg");
}

.sunnyDayBackgroundImg {
  background: url("Assets/sunnyDay.jpeg");
}

.rainStormBackgroundImg,
.snowStormBackgroundImg,
.sunnyDayBackgroundImg {
  background-size: cover;
  width: 100vw;
  height: 40rem;
}
