.fiveDayForecast {
  margin: auto;
}

.d-block {
  width: 100vw !important;
}

.rainStormBackgroundImg {
  background: url("Assets/rainImage.jpg");
}

.snowStormBackgroundImg {
  background: url("Assets/snowStorm.jpg");
}

.sunnyDayBackgroundImg {
  background: url("Assets/sunnyDay.jpeg");
}

.rainStormBackgroundImg,
.snowStormBackgroundImg,
.sunnyDayBackgroundImg {
  background-size: cover;
  width: 100vw;
  height: 40rem;
}

.fiveDay {
  width: 100px !important;
}

.fiveDayAfter{
  background: white);
  background-color: rgb(52, 114, 207)
}